<mat-toolbar color="primary">
    <button mat-icon-button (click)="toggleSidenav()">
        <mat-icon>menu</mat-icon>
    </button>
    <span class="title">{{ title }}</span>
    <span class="spacer"></span>
    <!-- <ng-content select="[header-actions]"></ng-content> -->
    <button mat-icon-button [routerLink]="'/add-product'">
        <mat-icon>add_circle</mat-icon>
    </button>
    <button mat-icon-button [routerLink]="'/profile'">
        <mat-icon>account_circle</mat-icon>
    </button>
</mat-toolbar>