<!-- header.component.html -->
<mat-toolbar color="primary">
    <button mat-icon-button (click)="toggleSidenav()">
        <mat-icon>menu</mat-icon>
    </button>
    <span class="title">{{ title }}</span>
    <span class="spacer"></span>
    <!-- <ng-content select="[header-actions]"></ng-content> -->
    <button mat-icon-button class="example-icon favorite-icon">
        <mat-icon>search</mat-icon>
    </button>
    <button mat-icon-button class="example-icon">
        <mat-icon>notifications</mat-icon>
    </button>
</mat-toolbar>