.container {
    display: flex;
    flex-direction: row;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
}

.example-card {
    max-width: 400px;
}

.justify-center {
    display: flex;
    justify-content: center;
}

.full-width {
    width: 100%;
}