.menu-button {
  transition: 300ms ease-in-out;
  transform: rotate(0deg);
}
.menu-button.rotated {
  transform: rotate(180deg);
}
  
.submenu {
	margin-left: 30px;
}

.submenu.expanded {
  transform: scaleY(1);
}

.item {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  padding: 8px;
}

.item-typography {
  font-size: 16px;
  font-weight: 500;
}

.item-icon-wrapper {
  display: flex; 
  align-items: center; 
  gap: 12px;
}

.sidenav-right-content {
	overflow: auto;
	height: 100vh;
}

.sidenav-login-redirect {
  height: 100vh; 
  display: flex; 
  flex-direction: column;
  justify-content: center; 
  align-items: center; 
  gap: 8px;

  .text {
    color: var(--gray);
    font-size: var(--font-size-14);
    font-weight: var(--w-500);
  }
}

