@import './styles/example.scss';
@import './styles/theme.scss';

html,

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
}

a {
  text-decoration: none;
}

::ng-deep .snackbar-success {
  background-color: #4caf50 !important;
  color: white !important;
}

::ng-deep .snackbar-failure {
  background-color: #f44336 !important;
  color: white !important;
}